.timeCounter {
    color: gray;
    font-weight: bold;
  }
.tempResetsCounter {
    color: blueviolet;
    font-weight: bold;
  }
.alphaCounter {
    color: red;
    font-weight: bold;
  }
.betaCounter {
    color: green;
    font-weight: bold;
  }
body {
    background-color: black;
  }
.normal {
    color: gray;
}
.button {
    background-color: rgb(48, 48, 48);
    transition-duration: 0.4s;
    border: black;
    color: lightgrey;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px #777;
    cursor:pointer;
}
.button:hover {
  color: gray;
}
.button:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
.inputfield {
  background-color: rgb(48, 48, 48);
  border: black;
  color: lightgrey;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px #777;
}
.info {
    background-color: rgb(131, 125, 125);
    width: 50%;
    margin: auto;
    border-radius: 8px;
    border-color: white;
}