.timeCounter {
    color: gray;
    font-weight: bold;
  }
.tempResetsCounter {
    color: blueviolet;
    font-weight: bold;
  }
.alphaCounter {
    color: red;
    font-weight: bold;
  }
.betaCounter {
    color: green;
    font-weight: bold;
  }
body {
    background-color: black;
  }
.normal {
    color: gray;
}
.button {
    background-color: rgb(48, 48, 48);
    transition-duration: 0.4s;
    border: black;
    color: lightgrey;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px #777;
    cursor:pointer;
}
.TMbutton {
  background-color: rgb(48, 48, 48);
  transition-duration: 0.4s;
  border: black;
  color: lightgrey;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px #777;
  cursor:pointer;
}
.TRbutton {
  background-color: rgb(48, 48, 48);
  transition-duration: 0.4s;
  border: black;
  color: lightgrey;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px #777;
  cursor:pointer;
}
.Abutton {
  background-color: rgb(48, 48, 48);
  transition-duration: 0.4s;
  border: black;
  color: lightgrey;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px #777;
  cursor:pointer;
}
.Bbutton {
  background-color: rgb(48, 48, 48);
  transition-duration: 0.4s;
  border: black;
  color: lightgrey;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px #777;
  cursor:pointer;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgb(80, 80, 80);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: 150%;
  left: 50%;
  margin-left: -50%;
  z-index: 1;
}
.button:hover {
  color: gray;
}
.button:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(80, 80, 80) transparent;
}
.TMbutton:hover{
  color: gray;
}
.TMbutton:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
.TRbutton:hover {
  color: gray;
}
.TRbutton:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
.Abutton:hover {
  color: gray;
}
.Abutton:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
.Bbutton:hover {
  color: gray;
}
.Bbutton:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
.info {
    background-color: rgb(131, 125, 125);
    width: 50%;
    margin: auto;
    border-radius: 8px;
    border-color: white;
}
